################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/test/.vs/
/include/.vs/Common/v16
/include/bin
/test/BasicMacro/bin
/test/bin
/test/AlgoTest/bin/x64/Debug
/test/AlgoTest/bin/x64/Release
/test/LaunchTest/bin/x64/Debug
